# Database Access with ClickHouse Connect

Please install the following packages:
- clickhouse_connect
- python-dotenv

## Custom SQL prompts to Clickhouse Database

In [8]:
# import helper functions
from utils.clickhouse_query import *

# Define the query
query = "SELECT * FROM TRADESDB.trades2017view WHERE (Symbol = 'AAPL') AND (Date = '2017-01-05')"

# Execute the query and store the resulting dataframe
data = get_trades(query)

Code: 201. DB::Exception: Quota for user `mhaggerty` for 86400s has been exceeded: result_rows = 1000058/1000000. Interval will end at 2023-05-05 00:00:00. Name of quota template: `dbuser`. (QUOTA_EXPIRED) (version 22.1.3.7 (official build))

DatabaseError: :HTTPDriver for http://ppolak5.ams.stonybrook.edu.:3306 returned response code 500)
 Code: 201. DB::Exception: Quota for user `mhaggerty` for 86400s has been exceeded: result_rows = 1000058/1000000. Interval will end at 2023-05-05 00:00:00. Name of quota template: `dbuser`. (QUOTA_EXPIRED) (version 22.1.3.7 (official build)

# More Modular Prompts

In [4]:
data.info( )

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136227 entries, 0 to 136226
Data columns (total 17 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   Time                                    136227 non-null  object
 1   Exchange                                136227 non-null  object
 2   Symbol                                  136227 non-null  object
 3   Sale_Condition                          136227 non-null  object
 4   Trade_Volume                            136227 non-null  object
 5   Trade_Price                             136227 non-null  object
 6   Trade_Stop_Stock_Indicator              136227 non-null  object
 7   Trade_Correction_Indicator              136227 non-null  object
 8   Sequence_Number                         136227 non-null  object
 9   Trade_Id                                136227 non-null  object
 10  Source_of_Trade                         136227 non-null  object
 11  Trade_Reporting_Facility                136227 non-null  object
 12  Participant_Timestamp                   136227 non-null  object
 13  Trade_Reporting_Facility_TRF_Timestamp  136227 non-null  object
 14  Trade_Through_Exempt_Indicator          136227 non-null  object
 15  Date                                    136227 non-null  object
 16  YearMonth                               136227 non-null  object
dtypes: object(17)
memory usage: 17.7+ MB

In [6]:
# Select trades from January of 2017 to April of 2017
query = "SELECT * FROM TRADESDB.trades2017view WHERE (Symbol = 'AAPL') AND (Date = '2017-01-05')"

results = client.command(query)

import pandas as pd

# Replace 'raw_data' with the variable containing your data as a list
raw_data = results

# Create the DataFrame
columns = ["Time", "Exchange", "Symbol", "Sale_Condition", "Trade_Volume", "Trade_Price", "Trade_Stop_Stock_Indicator", "Trade_Correction_Indicator", "Sequence_Number", "Trade_Id", "Source_of_Trade", "Trade_Reporting_Facility", "Participant_Timestamp", "Trade_Reporting_Facility_TRF_Timestamp", "Trade_Through_Exempt_Indicator", "Date", "YearMonth"]
df = pd.DataFrame(raw_data, columns=columns)

# Convert columns to proper data types
df['Time'] = pd.to_datetime(df['Time']).dt.tz_convert('America/New_York')
df['Exchange'] = df['Exchange'].astype('category')
df['Symbol'] = df['Symbol'].astype('category')
df['Sale_Condition'] = df['Sale_Condition'].astype('category')
df['Trade_Volume'] = df['Trade_Volume'].astype('UInt64')
df['Trade_Price'] = df['Trade_Price'].astype('float64')
df['Trade_Stop_Stock_Indicator'] = df['Trade_Stop_Stock_Indicator'].astype('category')
df['Trade_Correction_Indicator'] = df['Trade_Correction_Indicator'].astype('UInt8')
df['Sequence_Number'] = df['Sequence_Number'].astype('UInt64')
df['Trade_Id'] = df['Trade_Id'].astype('UInt64')
df['Source_of_Trade'] = df['Source_of_Trade'].astype('category')
df['Trade_Reporting_Facility'] = df['Trade_Reporting_Facility'].astype('category')
df['Participant_Timestamp'] = df['Participant_Timestamp'].astype('UInt64')
df['Trade_Reporting_Facility_TRF_Timestamp'] = df['Trade_Reporting_Facility_TRF_Timestamp'].astype('UInt64')
df['Trade_Through_Exempt_Indicator'] = df['Trade_Through_Exempt_Indicator'].astype('UInt64')
df['Date'] = pd.to_datetime(df['Date']).dt.date
df['YearMonth'] = df['YearMonth'].astype('string')

# Set the index
df.set_index(['Symbol', 'Time'], inplace=True)
df = df.sort_values(by=['Symbol', 'Time'])
df

Code: 201. DB::Exception: Quota for user `mhaggerty` for 86400s has been exceeded: result_rows = 1000042/1000000. Interval will end at 2023-05-05 00:00:00. Name of quota template: `dbuser`. (QUOTA_EXPIRED) (version 22.1.3.7 (official build))

DatabaseError: :HTTPDriver for http://ppolak5.ams.stonybrook.edu.:3306 returned response code 500)
 Code: 201. DB::Exception: Quota for user `mhaggerty` for 86400s has been exceeded: result_rows = 1000042/1000000. Interval will end at 2023-05-05 00:00:00. Name of quota template: `dbuser`. (QUOTA_EXPIRED) (version 22.1.3.7 (official build)