In [1]:
import pandas as pd
from getData import get_data
#import data_preprocessing.load_data as ld

#def get_data(symbol="AAPL", start_date="2020-01-01", end_date="2020-01-02"):
    # connect to database
#    conn = ld.connect_to_db()

    # get trades and quotes data
#    pathTrades = ld.get_trades(conn, symbol, start_date, end_date)
#    pathQuotes = ld.get_quotes(conn, symbol, start_date, end_date)

    # initialize dataframes
#    tradesDf = pd.DataFrame()
#    quotesDf = pd.DataFrame()

    # load data
#    for path in pathTrades:
#        tradesDf = tradesDf.append(pd.read_csv(path))
#    for path in pathQuotes:
#        quotesDf = quotesDf.append(pd.read_csv(path))

    # concatenate dataframes and sort by timestamp
#    dataDf = pd.concat([tradesDf, quotesDf], axis=0)

#    return dataDf

test = get_data("AAPL", "2021-08-03", "2021-08-04")
test.head(20)

/home/jake/anaconda3/envs/taq/lib/python3.9/site-packages/paramiko/transport.py:219: CryptographyDeprecationWarning: Blowfish has been deprecated
  "class": algorithms.Blowfish,
INFO:paramiko.transport:Connected (version 2.0, client OpenSSH_8.2p1)
INFO:paramiko.transport:Authentication (password) successful!

Trade Query for AAPL 2021-08-03 2021-08-04

INFO:paramiko.transport.sftp:[chan 1] Opened sftp connection (server version 3)

Saved trades for AAPL on 2021-08-03 00:00:00

INFO:paramiko.transport:Connected (version 2.0, client OpenSSH_8.2p1)
INFO:paramiko.transport:Authentication (password) successful!

Quote Query for AAPL 2021-08-03 2021-08-04

INFO:paramiko.transport.sftp:[chan 1] Opened sftp connection (server version 3)

Saved Quotes for AAPL on 2021-08-03 00:00:00

/home/jake/TAQ-Query-Scripts/getData.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  tradesDf = tradesDf.append(pd.read_csv(path))
/home/jake/TAQ-Query-Scripts/getData.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  quotesDf = quotesDf.append(pd.read_csv(path))

,Unnamed: 0.1,Unnamed: 0,Time,Date,Exchange,Symbol,Trade_Volume,Trade_Price,Sale_Condition,Source_of_Trade,Trade_Stop_Stock_Indicator,Trade_Correction_Indicator,Sequence_Number,Trade_Id,Trade_Reporting_Facility,Participant_Timestamp,Trade_Reporting_Facility_TRF_Timestamp,Trade_Through_Exempt_Indicator
0,0,0,2021-08-03 04:00:00.085215,2021-08-03,P,AAPL,921,146.10,@ T,N,NaN,0,1690,1,,40000084847104,NaN,1
1,1,1,2021-08-03 04:00:00.311956,2021-08-03,K,AAPL,200,146.10,@ T,N,NaN,0,1718,1,,40000311741000,NaN,0
2,2,2,2021-08-03 04:00:00.311963,2021-08-03,K,AAPL,60,146.10,@ TI,N,NaN,0,1719,2,,40000311741000,NaN,0
3,3,3,2021-08-03 04:00:00.311969,2021-08-03,K,AAPL,5,146.10,@ TI,N,NaN,0,1720,3,,40000311741000,NaN,0
4,4,4,2021-08-03 04:00:00.311972,2021-08-03,K,AAPL,6,146.10,@ TI,N,NaN,0,1721,4,,40000311741000,NaN,0
5,5,5,2021-08-03 04:00:00.311978,2021-08-03,K,AAPL,2,146.10,@ TI,N,NaN,0,1722,5,,40000311741000,NaN,0
6,6,6,2021-08-03 04:00:00.311983,2021-08-03,K,AAPL,5,146.10,@ TI,N,NaN,0,1723,6,,40000311741000,NaN,0
7,7,7,2021-08-03 04:00:00.311997,2021-08-03,K,AAPL,88,146.10,@ TI,N,NaN,0,1724,7,,40000311741000,NaN,0
8,8,8,2021-08-03 04:00:01.860893,2021-08-03,P,AAPL,2,146.10,@ TI,N,NaN,0,1771,2,,40001860528128,NaN,0
9,9,9,2021-08-03 04:00:03.150579,2021-08-03,P,AAPL,4,146.10,@FTI,N,NaN,0,1794,3,,40003150214144,NaN,1
10,10,10,2021-08-03 04:00:03.640331,2021-08-03,P,AAPL,7,146.10,@FTI,N,NaN,0,1800,4,,40003639965952,NaN,1
11,11,11,2021-08-03 04:00:03.957395,2021-08-03,P,AAPL,2,146.10,@FTI,N,NaN,0,1808,5,,40003957029888,NaN,1
12,12,12,2021-08-03 04:00:03.992094,2021-08-03,P,AAPL,3,146.10,@FTI,N,NaN,0,1809,6,,40003991730432,NaN,1
13,13,13,2021-08-03 04:00:04.487490,2021-08-03,P,AAPL,1,146.10,@FTI,N,NaN,0,1822,7,,40004487124992,NaN,1
14,14,14,2021-08-03 04:00:04.507109,2021-08-03,P,AAPL,1,146.10,@FTI,N,NaN,0,1823,8,,40004506745344,NaN,1
15,15,15,2021-08-03 04:00:04.509828,2021-08-03,P,AAPL,1,146.10,@FTI,N,NaN,0,1824,9,,40004509464576,NaN,1
16,16,16,2021-08-03 04:00:04.510978,2021-08-03,P,AAPL,1,146.10,@FTI,N,NaN,0,1825,10,,40004510613760,NaN,1
17,17,17,2021-08-03 04:00:04.511834,2021-08-03,P,AAPL,1,146.10,@FTI,N,NaN,0,1826,11,,40004511470080,NaN,1
18,18,18,2021-08-03 04:00:05.388081,2021-08-03,P,AAPL,62,146.18,@ TI,N,NaN,0,1835,12,,40005387708672,NaN,0
19,19,19,2021-08-03 04:00:05.388082,2021-08-03,P,AAPL,100,146.18,@ T,N,NaN,0,1836,13,,40005387708672,NaN,0