In [1]:
import sklearn
import pandas as pd
import numpy as np
from datetime import datetime,timedelta
import collections
from itertools import chain
import matplotlib.pyplot as plt
from pathlib import Path

In [2]:
from sklearn.pipeline import Pipeline
from sklearn.pipeline import make_pipeline
from sklearn import set_config
from sklearn.compose import make_column_selector, make_column_transformer

In [3]:
import warnings
warnings.filterwarnings('ignore')

# 1. Load Data & Merge to Single DataFrame

In [4]:
trades = pd.read_csv(Path("../data/raw_data/AAPL_trades.csv"))
quotes = pd.read_csv(Path("../data/raw_data/AAPL_quotes.csv"))

In [5]:
trades.head(10)

,Unnamed: 0,Time,Date,Exchange,Symbol,Trade_Volume,Trade_Price,Sale_Condition,Source_of_Trade,Trade_Stop_Stock_Indicator,Trade_Correction_Indicator,Sequence_Number,Trade_Id,Trade_Reporting_Facility,Participant_Timestamp,Trade_Reporting_Facility_TRF_Timestamp,Trade_Through_Exempt_Indicator
0,0,2020-01-02 04:00:00.064010,2020-01-02,P,AAPL,3801,295.05,@ T,N,NaN,0,1185,1,,40000063617792,NaN,1
1,1,2020-01-02 04:00:02.828485,2020-01-02,P,AAPL,1,295.08,@FTI,N,NaN,0,1195,2,,40002828108800,NaN,1
2,2,2020-01-02 04:00:06.250392,2020-01-02,Q,AAPL,6,295.25,@ TI,N,NaN,0,1197,1,,40006250366823,NaN,0
3,3,2020-01-02 04:00:06.429757,2020-01-02,P,AAPL,1,295.08,@ TI,N,NaN,0,1198,3,,40006429377792,NaN,0
4,4,2020-01-02 04:00:28.894835,2020-01-02,P,AAPL,3,295.10,@ TI,N,NaN,0,1205,4,,40028894459136,NaN,0
5,5,2020-01-02 04:00:30.021361,2020-01-02,P,AAPL,2,295.10,@ TI,N,NaN,0,1206,5,,40030020981248,NaN,0
6,6,2020-01-02 04:00:31.900055,2020-01-02,P,AAPL,7,295.10,@ TI,N,NaN,0,1208,6,,40031899679744,NaN,0
7,7,2020-01-02 04:00:33.047715,2020-01-02,P,AAPL,5,295.10,@ TI,N,NaN,0,1209,7,,40033047341056,NaN,0
8,8,2020-01-02 04:00:33.118294,2020-01-02,P,AAPL,5,295.10,@ TI,N,NaN,0,1210,8,,40033117919744,NaN,0
9,9,2020-01-02 04:00:33.118809,2020-01-02,P,AAPL,10,295.10,@ TI,N,NaN,0,1211,9,,40033118435584,NaN,0

In [6]:
quotes.head(10)

,Unnamed: 0,Time,Exchange,Symbol,Bid_Price,Bid_Size,Offer_Price,Offer_Size,Quote_Condition,Sequence_Number,...,Short_Sale_Restriction_Indicator,LULD_BBO_Indicator,SIP_Generated_Message_Identifier,NBBO_LULD_Indicator,Participant_Timestamp,FINRA_ADF_Timestamp,FINRA_ADF_Market_Participant_Quote_Indicator,Security_Status_Indicator,Date,YearMonth
0,0,2020-01-02 04:00:00.065165,P,AAPL,278.00,7.0,0.00,0.0,R,2228,...,0,NaN,NaN,NaN,40000064785664,NaN,NaN,,2020-01-02,202001
1,1,2020-01-02 04:00:00.065167,P,AAPL,278.00,14.0,0.00,0.0,R,2229,...,0,NaN,NaN,NaN,40000064787456,NaN,NaN,,2020-01-02,202001
2,2,2020-01-02 04:00:00.065170,P,AAPL,293.72,9.0,0.00,0.0,R,2230,...,0,NaN,NaN,NaN,40000064790784,NaN,NaN,,2020-01-02,202001
3,3,2020-01-02 04:00:00.065681,P,AAPL,293.72,9.0,327.56,1.0,R,2231,...,0,NaN,NaN,NaN,40000065302272,NaN,NaN,,2020-01-02,202001
4,4,2020-01-02 04:00:00.065738,P,AAPL,293.72,9.0,320.00,1.0,R,2232,...,0,NaN,NaN,NaN,40000065358592,NaN,NaN,,2020-01-02,202001
5,5,2020-01-02 04:00:00.065738,P,AAPL,293.72,9.0,310.00,1.0,R,2233,...,0,NaN,NaN,NaN,40000065360384,NaN,NaN,,2020-01-02,202001
6,6,2020-01-02 04:00:00.065744,P,AAPL,293.72,9.0,300.00,1.0,R,2235,...,0,NaN,NaN,NaN,40000065366528,NaN,NaN,,2020-01-02,202001
7,7,2020-01-02 04:00:00.065813,P,AAPL,293.72,9.0,299.97,5.0,R,2237,...,0,NaN,NaN,NaN,40000065433856,NaN,NaN,,2020-01-02,202001
8,8,2020-01-02 04:00:00.065816,P,AAPL,293.72,9.0,295.88,5.0,R,2238,...,0,NaN,NaN,NaN,40000065437440,NaN,NaN,,2020-01-02,202001
9,9,2020-01-02 04:00:00.068515,P,AAPL,295.00,1.0,295.88,5.0,R,2241,...,0,NaN,NaN,NaN,40000068136192,NaN,NaN,,2020-01-02,202001

In [7]:
pd.set_option('display.max_columns', None)

In [8]:
trades_columns = trades.columns
quotes_columns = quotes.columns

In [9]:
trades_columns

Index(['Unnamed: 0', 'Time', 'Date', 'Exchange', 'Symbol', 'Trade_Volume',
       'Trade_Price', 'Sale_Condition', 'Source_of_Trade',
       'Trade_Stop_Stock_Indicator', 'Trade_Correction_Indicator',
       'Sequence_Number', 'Trade_Id', 'Trade_Reporting_Facility',
       'Participant_Timestamp', 'Trade_Reporting_Facility_TRF_Timestamp',
       'Trade_Through_Exempt_Indicator'],
      dtype='object')

In [10]:
quotes_columns

Index(['Unnamed: 0', 'Time', 'Exchange', 'Symbol', 'Bid_Price', 'Bid_Size',
       'Offer_Price', 'Offer_Size', 'Quote_Condition', 'Sequence_Number',
       'National_BBO_Indicator', 'FINRA_BBO_Indicator',
       'FINRA_ADF_MPID_Indicator', 'Quote_Cancel_Correction',
       'Source_Of_Quote', 'Retail_Interest_Indicator',
       'Short_Sale_Restriction_Indicator', 'LULD_BBO_Indicator',
       'SIP_Generated_Message_Identifier', 'NBBO_LULD_Indicator',
       'Participant_Timestamp', 'FINRA_ADF_Timestamp',
       'FINRA_ADF_Market_Participant_Quote_Indicator',
       'Security_Status_Indicator', 'Date', 'YearMonth'],
      dtype='object')

In [11]:
all_events = pd.concat([trades, quotes], axis=0)

In [12]:
all_events.head(10)

,Unnamed: 0,Time,Date,Exchange,Symbol,Trade_Volume,Trade_Price,Sale_Condition,Source_of_Trade,Trade_Stop_Stock_Indicator,Trade_Correction_Indicator,Sequence_Number,Trade_Id,Trade_Reporting_Facility,Participant_Timestamp,Trade_Reporting_Facility_TRF_Timestamp,Trade_Through_Exempt_Indicator,Bid_Price,Bid_Size,Offer_Price,Offer_Size,Quote_Condition,National_BBO_Indicator,FINRA_BBO_Indicator,FINRA_ADF_MPID_Indicator,Quote_Cancel_Correction,Source_Of_Quote,Retail_Interest_Indicator,Short_Sale_Restriction_Indicator,LULD_BBO_Indicator,SIP_Generated_Message_Identifier,NBBO_LULD_Indicator,FINRA_ADF_Timestamp,FINRA_ADF_Market_Participant_Quote_Indicator,Security_Status_Indicator,YearMonth
0,0,2020-01-02 04:00:00.064010,2020-01-02,P,AAPL,3801.0,295.05,@ T,N,NaN,0.0,1185,1.0,,40000063617792,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2020-01-02 04:00:02.828485,2020-01-02,P,AAPL,1.0,295.08,@FTI,N,NaN,0.0,1195,2.0,,40002828108800,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020-01-02 04:00:06.250392,2020-01-02,Q,AAPL,6.0,295.25,@ TI,N,NaN,0.0,1197,1.0,,40006250366823,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2020-01-02 04:00:06.429757,2020-01-02,P,AAPL,1.0,295.08,@ TI,N,NaN,0.0,1198,3.0,,40006429377792,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2020-01-02 04:00:28.894835,2020-01-02,P,AAPL,3.0,295.10,@ TI,N,NaN,0.0,1205,4.0,,40028894459136,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,2020-01-02 04:00:30.021361,2020-01-02,P,AAPL,2.0,295.10,@ TI,N,NaN,0.0,1206,5.0,,40030020981248,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,2020-01-02 04:00:31.900055,2020-01-02,P,AAPL,7.0,295.10,@ TI,N,NaN,0.0,1208,6.0,,40031899679744,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,2020-01-02 04:00:33.047715,2020-01-02,P,AAPL,5.0,295.10,@ TI,N,NaN,0.0,1209,7.0,,40033047341056,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,2020-01-02 04:00:33.118294,2020-01-02,P,AAPL,5.0,295.10,@ TI,N,NaN,0.0,1210,8.0,,40033117919744,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,2020-01-02 04:00:33.118809,2020-01-02,P,AAPL,10.0,295.10,@ TI,N,NaN,0.0,1211,9.0,,40033118435584,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
len(trades)+len(quotes)

2208691

# 2. Data Cleaning & Preprocessing

In [14]:
from sklearn.base import BaseEstimator, TransformerMixin
from sortedcollections import OrderedSet
import time

In [15]:
class PreprocessData(BaseEstimator, TransformerMixin):
    
    def __init__(self, dropped_after_hourse=True, droped_irregular_hours=True):
        self.dropped_after_hourse = dropped_after_hourse
        self.droped_irregular_hours = droped_irregular_hours
        
    
    def fit(self, X, y=None):
        return self
    
    def generate_mox_identifier(self, df):
        """Generate MOX Identifier"""
        # get participant timestamps
        participant_timestamps = df.index
        # convert timestamps to float
        fl_participant_timestamps = [float(ts.timestamp()*1000) for ts in participant_timestamps]
        # generate unique index for each timestamp
        time_mox_mapping = {ts: mox_idx for mox_idx, ts in enumerate(OrderedSet(fl_participant_timestamps))}
        # generate the mox_identifiers
        mox_identifiers = [time_mox_mapping[t] for t in fl_participant_timestamps]

        df['MOX_Identifiers'] = mox_identifiers

        return df
    
    def transform(self, X):
        cols = X.columns
        if 'Unnamed: 0' in cols:
            X.drop(['Unnamed: 0'], inplace=True, axis=1)
        if 'Time' in cols:
            X.drop(['Time'], inplace=True, axis=1)
        
        # parse date and participant timestamp
        X['Date'] = pd.to_datetime(X['Date'])
        X['Participant_Timestamp'] = pd.to_datetime(
            X["Participant_Timestamp"].astype(str).str.zfill(15), format="%H%M%S%f"
        )
        
        # convert datetime to index
        X["Participant_Timestamp"] = X["Date"].apply(lambda x: x) + X["Participant_Timestamp"].apply(
            lambda x: timedelta(hours=x.hour, minutes=x.minute, seconds=x.second, microseconds=x.microsecond)
        )
        X.index = X["Participant_Timestamp"].values
        
        # remove rows of all NA
        X = X.dropna(axis=1, how="all")
        
        
        # remove invalid trades
        X.drop(X[X['Trade_Price'] < 0].index, inplace=True)
        X.drop(X[X['Trade_Volume'] < 0].index, inplace=True)
        X.drop(X[X['Trade_Reporting_Facility'] == 'D'].index, inplace=True)
        
        # remove invalid quotes
        X.drop(X[X['Bid_Price'] < 0].index, inplace=True)
        X.drop(X[X['Offer_Price'] < X['Bid_Price']].index, inplace=True)
        
        
        # drop after hours if specified
        if self.dropped_after_hourse:
            afterhours_idx = []
            for t in X.index:
                str_t = t.strftime("%H:%M:%S")
                if str_t < "09:00:00" or str_t > "16:00:00":
                    afterhours_idx.append(t)
            X.drop(afterhours_idx, inplace=True)
            
        # remove first and last 15 minutes of regular trading hours
        if self.droped_irregular_hours:
            irregular_idx = []
            for t in X.index:
                str_t = t.strftime("%H:%M:%S")
                if str_t < "09:45:00" or str_t > "15:45:00":
                    irregular_idx.append(t)
            X.drop(irregular_idx, inplace=True)
        
        #sort data according to index
        X = X.sort_index()
        
        #assign MOX Identifiers
        X = self.generate_mox_identifier(X)

        
        return X

In [16]:
process_pipeline = make_pipeline(
    PreprocessData()
)

In [ ]:
df_clean = process_pipeline.fit_transform(all_events)

In [ ]:
df_clean.head(50)

In [ ]:
df_clean.info()

## 3. Feature Generation

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.compose import make_column_selector, make_column_transformer

In [ ]:
import sys
sys.path.insert(1, '../feature_generation')

In [ ]:
from generators import parent_generator

In [ ]:
def generate_trade_side(df: pd.DataFrame) -> pd.DataFrame:
    """Classify trade side using tick test"""
    trade_direction_dic = {
    "uptick": 1,
    "zero-uptick": 1,
    "downtick": -1,
    "zero-downtick": -1,
    "NaN": np.nan
    }
    pre_price, pre_cat = 0, 0
    trade_cats = []
    for p in df_clean["Trade_Price"].values:
        if pd.isna(p):
            trade_cats.append("NaN")
        else:
            if p > pre_price:
                trade_cats.append("uptick")
                pre_cat = "uptick"
            elif p < pre_price:
                trade_cats.append("downtick")
                pre_cat = "downtick"
            else:
                if pre_cat == "downtick":
                    trade_cats.append("zero-downtick")
                    pre_cat = "zero-downtick"
                else:
                    # question: what about previous one is zero-uptick?
                    trade_cats.append("zero-uptick")
                    pre_cat = "zero-uptick"

            pre_price = p

    trade_signs = [trade_direction_dic[c] for c in trade_cats]

    df["Trade_Side"] = trade_signs
    # Look into Signing Algorithms
    return df

In [ ]:
generate_trade_side(df_clean)

In [ ]:
raw_trade_features, raw_quote_features = df_clean.columns[:14], df_clean.columns[14:]
raw_trade_features

In [ ]:
raw_quote_features

In [ ]:
class GenerateTradeFeatures(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        return
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        
        return X

In [ ]:
class GenerateQuoteFeatures(BaseEstimator, TransformerMixin):
    
    def __init__(self):
        return
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        
        return X

In [ ]:
trade_pipeline = make_pipeline(GenerateTradeFeatures())
quote_pipeline = make_pipeline(GenerateQuoteFeatures())

In [ ]:
generating_features = make_column_transformer(
    (trade_pipeline, raw_trade_features),
    (quote_pipeline, raw_quote_features)
)

In [ ]:
data_prepared = generating_features.fit_transform(df_clean)

In [ ]:
data_prepared_fr = pd.DataFrame(
    data_prepared,
    columns=df_clean.columns,
    index=df_clean.index
)

In [ ]:
data_prepared_fr.head(10)